@font-face {
    font-family: 'TwemojiMozilla';
    src: url('TwemojiMozilla.ttf');
}

body {
    margin: 40px;
    font-family: 'Open Sans', 'TwemojiMozilla';
    background-color: #fff;
    color: #444;
}

h1,
p {
    margin: 0 0 1em 0;
}

.game-panel {
    /* max-width: 900px; */
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
    grid-template: auto auto 1fr/ 200px 1fr;
    /* grid-auto-rows: minmax(150px, auto); */
    grid-template-areas: "sidebar mycountry" "sidebar progress" "sidebar neighbours";
    font-size: 1.5em;
    color: white;
}

@media (max-width: 800px) {
    .game-panel {
        grid-template-columns: 100%;
        grid-template-areas: "sidebar" "mycountry" "progress" "neighbours";
    }
}

#my-country {
    grid-area: mycountry;
    background-color: slategrey;
    border-radius: 5px;
    padding: 0.2em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    top: 0;
}

#my-country-flag {
    font-size: 3em;
    text-shadow: 0 0 0.1em silver;
}

#my-country-name {
    margin-left: 1em;
    font-size: 1.2em;
}

#sidebar {
    grid-area: sidebar;
    background-color: deeppink;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#sidebar>div {
    display: flex;
}

#sidebar>div>span:first-child {
    flex-grow: 1;
}

#score {
    margin-bottom: 0.5em;
}

#neighbours-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    color: black;
    grid-area: neighbours;
}

.neighbour {
    margin: 0.1em;
    padding: 0.1em;
    background-color: whitesmoke;
    font-size: 4em;
    border: 3px solid gray;
    border-radius: 0.075em;
    flex-grow: 1;
    flex-basis: 10%;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.neighbour>:first-child {
    /* align-self: center; */
    /* font-size: 1rem; */
    text-shadow: 0 0 0.1em gray;
}

.neighbour>:nth-child(2) {
    /* width: 100%; */
    justify-self: center;
    text-align: center;
    font-size: 1rem;
}

.was-clicked.neighbour-is-valid {
    border-color: darkseagreen;
}

.was-clicked.neighbour-is-invalid {
    border-color: crimson;
}

.neighbour:not(.was-clicked) {
    border-color: rgb(0, 0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
}

button {
    height: 4em;
}

#sidebar>button {
    margin-top: 2em;
}

#next-round-panel {
    display: none;
    border-radius: 5px;
    background-color: rgb(150, 150, 150, 0.9);
    grid-area: neighbours;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#won {
    font-size: 1.5em;
    font-weight: 600;
    color: black;
}

#lost {
    font-size: 1.5em;
    font-weight: 600;
    color: darkred;
}

#sidebar>button:first-of-type {
    margin-top: auto;
}

#progress {
    grid-area: progress;
    border-radius: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    /* for chrome */
}

#progress::-webkit-progress-bar {
    border-radius: 5px;
}
#progress::-webkit-progress-value {
    background:blue;
}